@model final_project.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<link href="~/Content/LOGIN.css" rel="stylesheet" />
<h2>忘記密碼了嗎？</h2>



<div class=" container">
    <div class=" col-md-12 up_1">
    </div>
    <div class="row">
        <div class="col-md-12 forgotblock">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <br>
                <h4><b><font color="#7cab98">&nbsp;信箱驗證</font></b></h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <br>
                <div class="form-group_1">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <br> <br>
                    <div class="col-md-10 forgotblock">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control_1" })
                        <br><br>
                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-10">
                                <input type="submit" class="btn btn-default" value="Send" />
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
