@model final_project.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<h2>   </h2>

<link href="~/Content/RESETPASSWORD.css" rel="stylesheet" />

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />




    <div class=" container">
        <div class=" col-md-12 up_1">
        </div>
        <div class="row">
            <div class="col-md-12 reset_1">
                <br>
                <h4><b><font color="#7cab98">&nbsp;重設密碼</font></b></h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="form-group">
                    <h5><b>&emsp;&emsp;&emsp;&emsp;&emsp;信箱</b></h5>
                    <div class="col-md-10 reset_inside_1">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <h5><b>&emsp;&emsp;&emsp;&emsp;&emsp;密碼</b></h5>
                    <div class="col-md-10 reset_inside_1">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <h5><b>&emsp;&emsp;&emsp;&emsp;&emsp;密碼確認</b></h5>
                    <div class="col-md-10 reset_inside_1">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 reset_inside_2">
                        <input type="submit" class="btn btn-default btn-block" value="重設密碼" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
